footer {
    height: 100px;
    background-color: rgb(8, 120, 224);
}

footer h3 {
    color: #ffffff;
    text-align: center;
}

footer a img {
    width: 50px;
    height: 50px;
}
.footercont {
    display: flex;
    justify-content: center;
}

.footerimg {
    margin: 0 15px;
}
