// MEDIA QUERIES
@media (max-width: 992px) {
    .header-logos {
        flex-direction: column;
    }

    .menulogo2,
    .menulogo3 {
        width: 180px;
        margin: 10px auto;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .productosusados {
        font-size: 1.8rem;
        /* Más chico que el tamaño por defecto */
        text-align: center;
        /* Opcional, por si se ve mejor centrado */
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// PAGINA COLORES



@media (max-width: 1100px) {
    .interior {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 10px;

        .producto-img {
            width: 60%;
            max-width: 320px;
        }

        .colorescont {
            width: 90%;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 12px;
            justify-items: center;

            .colores img {
                width: 90px;
                height: auto;
            }
        }
    }

    .titulointerior {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .interior {
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .producto-img {
            width: 80%;
            max-width: 300px;
        }

        .colorescont {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 10px;
            width: 100%;
            justify-items: center;

            .colores img {
                width: 90px;
                height: auto;
            }
        }
    }

    .titulointerior {
        font-size: 2rem;
        margin: 15px 0;
    }
}


//  PAGINA PRODUCTOS

@media (max-width: 1200px) {
  .latexinterior {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .latexinterior {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .latexinterior {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .latexinterior {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .latexinterior {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .latexinterior {
    grid-template-columns: 1fr;
  }
}